<div class="splash">
  <img class="splash__bg" src="assets/img/hero-map.png" alt="" aria-hidden="true">
  <div class="splash__scrim"></div>

  <div class="splash__content">
    <img src="assets/img/logo.png" alt="" class="splash__logo">
    <p class="eyebrow">A whimsical fused-glass quest</p>
    <h1 class="splash__title">ATrollPath</h1>
    <button type="button" class="btn-quest splash__begin" (click)="begin.emit()">
      Click to Begin Your Quest
    </button>
    <p class="splash__hint">Best explored with sound on 🔊</p>
  </div>
</div>
